<NewTodoForm
  @placeholder="Add Tomorrow Todo"
  @deferredUntil={{tomorrow}}
/>

<div class="list-detail">
  <TodoList
    @title="Tomorrow"
    @icon="bedtime"
    @todos={{this.sortedTodos}}
    @onClickHeaderIcon={{this.goToList}}
    @onChooseTodo={{this.handleChooseTodo}}
    @onRefresh={{action send 'refresh'}}
    as |todo|
  />
  {{outlet}}
</div>
