<PaperToolbar>
  <PaperToolbarTools>
    {{#if this.session.isAuthenticated}}
      <PaperButton
        @iconButton={{true}}
        @onClick={{@toggleSideNav}}
        @class="hide-gt-sm"
      >
        {{paper-icon "menu"}}
      </PaperButton>
    {{/if}}
    <h2 class="hide-gt-sm">Surely</h2>
    <span class="flex"></span>
    {{#if this.session.isAuthenticated}}
      <PaperMenu as |menu|>
        <menu.trigger>
          <PaperButton @iconButton={{true}}>
            {{paper-icon "account_circle"}}
          </PaperButton>
        </menu.trigger>
        <menu.content @width={{4}} as |content|>
          <content.menu-item @onClick={{this.logOut}}>
            <span>Log Out</span>
          </content.menu-item>
        </menu.content>
      </PaperMenu>
    {{/if}}
  </PaperToolbarTools>
</PaperToolbar>
