{{#if this.session.isAuthenticated}}
  <div class="list-group">
    <LinkTo
      {{on "click" @onClickLink}}
      @route="todos.available"
      class="list-group-item list-group-item-action d-flex"
      data-test-available
    >
      <AppIcon @icon="access_time" @alt="access_time" />
      <span class="flex-fill ml-3">
        Available
        ({{@availableTodoCount}})
      </span>
    </LinkTo>
    <LinkTo
      {{on "click" @onClickLink}}
      @route="todos.tomorrow"
      class="list-group-item list-group-item-action d-flex"
      data-test-tomorrow
    >
      <AppIcon @icon="bedtime" @alt="bedtime" />
      <span class="flex-fill ml-3">
        Tomorrow
        ({{@tomorrowTodoCount}})
      </span>
    </LinkTo>
    <LinkTo
      {{on "click" @onClickLink}}
      @route="todos.future"
      class="list-group-item list-group-item-action d-flex"
      data-test-future
    >
      <AppIcon @icon="calendar_today" @alt="calendar_today" />
      <span class="flex-fill ml-3">
        Future
      </span>
    </LinkTo>
    <LinkTo
      {{on "click" @onClickLink}}
      @route="todos.completed"
      class="list-group-item list-group-item-action d-flex"
      data-test-completed
    >
      <AppIcon @icon="check_circle" @alt="check_circle" />
      <span class="flex-fill ml-3">
        Completed
      </span>
    </LinkTo>
    <LinkTo
      {{on "click" @onClickLink}}
      @route="todos.deleted"
      class="list-group-item list-group-item-action d-flex"
      data-test-deleted
    >
      <AppIcon @icon="delete" @alt="delete" />
      <span class="flex-fill ml-3">
        Deleted
      </span>
    </LinkTo>
    <LinkTo
      {{on "click" @onClickLink}}
      @route="categories"
      class="list-group-item list-group-item-action d-flex"
      data-test-categories
    >
      <AppIcon @icon="label" @alt="label" />
      <span class="flex-fill ml-3">
        Categories
      </span>
    </LinkTo>
    <button
      {{on "click" this.refreshApp}}
      type="button"
      class="list-group-item list-group-item-action d-flex"
    >
      <AppIcon @icon="refresh" @alt="refresh" />
      <span class="flex-fill ml-3">
        Refresh App
      </span>
    </button>
  </div>
{{/if}}
