{{#if this.session.isAuthenticated}}
  <div class="list-group list-group-flush">
    <LinkTo
      @route="todos.available"
      class="list-group-item list-group-item-action d-flex"
      data-test-available
    >
      {{paper-icon "access_time"}}
      <span class="flex-fill ml-3">
        Available
        ({{@availableTodoCount}})
      </span>
    </LinkTo>
    <LinkTo
      @route="todos.tomorrow"
      class="list-group-item list-group-item-action d-flex"
      data-test-tomorrow
    >
      {{paper-icon "bedtime"}}
      <span class="flex-fill ml-3">
        Tomorrow
        ({{@tomorrowTodoCount}})
      </span>
    </LinkTo>
    <LinkTo
      @route="todos.future"
      class="list-group-item list-group-item-action d-flex"
      data-test-future
    >
      {{paper-icon "calendar_today"}}
      <span class="flex-fill ml-3">
        Future
      </span>
    </LinkTo>
    <LinkTo
      @route="todos.completed"
      class="list-group-item list-group-item-action d-flex"
      data-test-completed
    >
      {{paper-icon "check_circle"}}
      <span class="flex-fill ml-3">
        Completed
      </span>
    </LinkTo>
    <LinkTo
      @route="todos.deleted"
      class="list-group-item list-group-item-action d-flex"
      data-test-deleted
    >
      {{paper-icon "delete"}}
      <span class="flex-fill ml-3">
        Deleted
      </span>
    </LinkTo>
    <LinkTo
      @route="categories"
      class="list-group-item list-group-item-action d-flex"
      data-test-categories
    >
      {{paper-icon "label"}}
      <span class="flex-fill ml-3">
        Categories
      </span>
    </LinkTo>
    <button
      {{on "click" this.refreshApp}}
      type="button"
      class="list-group-item list-group-item-action d-flex"
    >
      {{paper-icon "refresh"}}
      <span class="flex-fill ml-3">
        Refresh App
      </span>
    </button>
  </div>
{{/if}}
