<div class="card">
  <div class="card-content">
    <h2 class="card-title">
      <button
        {{on "click" @onClickHeaderIcon}}
        type="button"
        class="btn btn-secondary"
      >
        back to list
      </button>
      Categories
      <button
        {{on "click" @onRefresh}}
        type="button"
        class="btn btn-secondary"
      >
        refresh
      </button>
    </h2>
    <PaperContent>
      {{#if @loading}}
        <PaperList>
          <div class="layout-margin">
            <PaperProgressCircular data-test-loading-indicator />
          </div>
        </PaperList>
      {{else if @error}}
        <PaperList>
          <PaperItem>
            <p
              class="error-text"
              data-test-error-message
            >
              An error occurred loading categories.
            </p>
          </PaperItem>
        </PaperList>
      {{else}}
        <PaperList>
          {{#each @categories as |category|}}
            <CategoryList::Item
              @category={{category}}
              @onChooseCategory={{@onChooseCategory}}
              @moveUpward={{@moveUpward}}
              @moveDownward={{@moveDownward}}
            />
            <PaperDivider />
          {{else}}
            <PaperItem>
              <p data-test-no-categories-message>
                <em>No categories yet</em>
              </p>
            </PaperItem>
          {{/each}}
        </PaperList>
      {{/if}}
    </PaperContent>
    <div>
      <button
        {{on "click" @onAdd}}
        type="button"
        class="btn btn-secondary"
        data-test-add-button
      >
        Add
      </button>
    </div>
  </div>
</div>
