<div class="card">
  <div class="card-content">
    <h2 class="card-title">
      <button
        {{on "click" @onClickHeaderIcon}}
        type="button"
        class="btn btn-secondary"
      >
        back to list
      </button>
      Categories
      <button
        {{on "click" @onRefresh}}
        type="button"
        class="btn btn-secondary"
      >
        refresh
      </button>
    </h2>
    {{#if @loading}}
      <LoadingIndicator />
    {{else if @error}}
      <div
        class="alert alert-danger"
        role="alert"
        data-test-error-message
      >
        An error occurred loading categories.
      </div>
    {{else}}
      <ul class="list-group">
        {{#each @categories as |category|}}
          <CategoryList::Item
            @category={{category}}
            @onChooseCategory={{@onChooseCategory}}
            @moveUpward={{@moveUpward}}
            @moveDownward={{@moveDownward}}
          />
        {{else}}
          <li
            class="list-group-item"
            data-test-no-categories-message
          >
            <em>No categories yet</em>
          </li>
        {{/each}}
      </ul>
    {{/if}}
    <div>
      <button
        {{on "click" @onAdd}}
        type="button"
        class="btn btn-secondary"
        data-test-add-button
      >
        Add
      </button>
    </div>
  </div>
</div>
