<div {{did-update this.resetStateIfModelChanged @category}}>
  {{#if @error}}
    <PaperCard as |card|>
      <card.title as |title|>
        <title.text as |text|>
          <text.headline
            class="todo-headline__container"
            data-test-error-message
          >
            Error loading category
          </text.headline>
        </title.text>
      </card.title>
    </PaperCard>
  {{else}}
    <PaperCard as |card|>
      <PaperForm
        onSubmit={{this.handleSave}}
        data-test-category-edit-form
        as |form|
      >
        <card.content>
          <form.input
            @placeholder="Category Name"
            @value={{this.editedName}}
            @onChange={{action (mut this.editedName)}}
            @onKeyDown={{this.handleTitleKeyDown}}
            @block={{true}}
            @required={{true}}
            class="title-input"
            data-test-category-name-field
          />

          {{#if this.error}}
            <p
              class="error-text"
              data-test-error-message
            >
              {{this.error}}
            </p>
          {{/if}}
        </card.content>
        <card.actions class="app-button-container">
          <button
            {{on "click" @onCancel}}
            type="button"
            class="btn btn-light"
            data-test-cancel-edit-button
          >
            Cancel
          </button>
          {{#if @onDelete}}
            <button
              {{on "click" this.handleDelete}}
              type="button"
              class="btn btn-light"
              data-test-delete-button
            >
              Delete
            </button>
          {{/if}}
          <button
            type="submit"
            class="btn btn-primary"
            disabled={{this.saving}}
            data-test-save-button
          >
            {{paper-icon "save"}}
            {{#if this.saving}}
              Saving…
            {{else}}
              Save
            {{/if}}
          </button>
        </card.actions>
      </PaperForm>
    </PaperCard>
  {{/if}}
</div>
