<div class="card m-3">
  <div class="card-body">
    <h2 class="d-flex">
      <PaperButton @iconButton={{true}} @click={{@onClickHeaderIcon}}>
        {{paper-icon "label"}}
      </PaperButton>
      <h2>Categories</h2>
      <span class="flex-fill"></span>
      <PaperButton
        @iconButton={{true}}
        @onClick={{@onRefresh}}
      >
        {{paper-icon "refresh"}}
      </PaperButton>
    </h2>

    {{#if @loading}}
      <LoadingIndicator />
    {{else if @error}}
      <div
        class="alert alert-danger"
        role="alert"
        data-test-error-message
      >
        An error occurred loading categories.
      </div>
    {{else}}
      <ul class="list-group">
        {{#each @categories as |category|}}
          <CategoryList::Item
            @category={{category}}
            @onChooseCategory={{@onChooseCategory}}
            @moveUpward={{@moveUpward}}
            @moveDownward={{@moveDownward}}
          />
        {{else}}
          <li
            class="list-group-item"
            data-test-no-categories-message
          >
            <em>No categories yet</em>
          </li>
        {{/each}}
      </ul>
    {{/if}}
    <div class="d-flex justify-content-end mt-3">
      <button
        {{on "click" @onAdd}}
        type="button"
        class="btn btn-light"
        data-test-add-button
      >
        {{paper-icon "add"}}
        Add
      </button>
    </div>
  </div>
</div>
