<PaperCard as |card|>
  <PaperToolbar>
    <PaperToolbarTools>
      <PaperButton @iconButton={{true}} @click={{@onClickHeaderIcon}}>
        {{paper-icon "label"}}
      </PaperButton>
      <h2>Categories</h2>
      <span class="flex"></span>
      <PaperButton
        @iconButton={{true}}
        @onClick={{@onRefresh}}
      >
        {{paper-icon "refresh"}}
      </PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperContent>
    {{#if @loading}}
      <PaperProgressCircular data-test-loading-indicator />
    {{else if @error}}
      <div
        class="alert alert-danger"
        role="alert"
        data-test-error-message
      >
        An error occurred loading categories.
      </div>
    {{else}}
      <ul class="list-group">
        {{#each @categories as |category|}}
          <CategoryList::Item
            @category={{category}}
            @onChooseCategory={{@onChooseCategory}}
            @moveUpward={{@moveUpward}}
            @moveDownward={{@moveDownward}}
          />
        {{else}}
          <li
            class="list-group-item"
            data-test-no-categories-message
          >
            <em>No categories yet</em>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </PaperContent>
  <card.actions>
    <button
      {{on "click" @onAdd}}
      type="button"
      class="btn btn-light"
      data-test-add-button
    >
      {{paper-icon "add"}}
      Add
    </button>
  </card.actions>
</PaperCard>
