<div>
  <div class="d-flex">
    <IconButton @onClick={{@onClickHeaderIcon}}>
      <AppIcon @icon="label" @alt="label" />
    </IconButton>
    <h2 class="flex-fill">Categories</h2>
    <IconButton @onClick={{@onRefresh}}>
      <AppIcon @icon="refresh" @alt="refresh" />
    </IconButton>
  </div>

  {{#if @loading}}
    <LoadingIndicator />
  {{else if @error}}
    <div
      class="alert alert-danger"
      role="alert"
      data-test-error-message
    >
      An error occurred loading categories.
    </div>
  {{else}}
    <ul class="list-group">
      {{#each @categories as |category|}}
        <CategoryList::Item
          @category={{category}}
          @onChooseCategory={{@onChooseCategory}}
          @moveUpward={{@moveUpward}}
          @moveDownward={{@moveDownward}}
        />
      {{else}}
        <li
          class="list-group-item"
          data-test-no-categories-message
        >
          <em>No categories yet</em>
        </li>
      {{/each}}
    </ul>
  {{/if}}
  <div class="d-flex justify-content-end mt-3">
    <button
      {{on "click" @onAdd}}
      type="button"
      class="btn btn-light"
      data-test-add-button
    >
      <AppIcon @icon="add" @alt="add" />
      Add
    </button>
  </div>
</div>
