<PaperCard as |card|>
  <PaperToolbar>
    <PaperToolbarTools>
      <PaperButton @iconButton={{true}} @click={{@onClickHeaderIcon}}>
        {{paper-icon "label"}}
      </PaperButton>
      <h2>Categories</h2>
      <span class="flex"></span>
      <PaperButton
        @iconButton={{true}}
        @onClick={{@onRefresh}}
      >
        {{paper-icon "refresh"}}
      </PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperContent>
    {{#if @loading}}
      <PaperList>
        <div class="layout-margin">
          <PaperProgressCircular data-test-loading-indicator />
        </div>
      </PaperList>
    {{else if @error}}
      <PaperList>
        <PaperItem>
          <p
            class="error-text"
            data-test-error-message
          >
            An error occurred loading categories.
          </p>
        </PaperItem>
      </PaperList>
    {{else}}
      <PaperList>
        {{#each @categories as |category|}}
          <CategoryList::Item
            @category={{category}}
            @onChooseCategory={{@onChooseCategory}}
            @moveUpward={{@moveUpward}}
            @moveDownward={{@moveDownward}}
          />
          <PaperDivider />
        {{else}}
          <PaperItem>
            <p data-test-no-categories-message>
              <em>No categories yet</em>
            </p>
          </PaperItem>
        {{/each}}
      </PaperList>
    {{/if}}
  </PaperContent>
  <card.actions>
    <PaperButton
      @onClick={{@onAdd}}
      data-test-add-button
    >
      {{paper-icon "add"}}
      Add
    </PaperButton>
  </card.actions>
</PaperCard>
