<div {{did-update this.resetStateIfModelChanged @category}}>
  {{#if @error}}
    <div class="card">
      <h2
        class="card-title"
        data-test-error-message
      >
        Error loading category
      </h2>
    </div>
  {{else}}
    <PaperCard as |card|>
      <PaperForm
        onSubmit={{this.handleSave}}
        data-test-category-edit-form
      >
        <card.content>
          <div
            class="form-group"
            data-test-category-name-field
          >
            <label for="category-name-field">
              Category Name
            </label>
            <Input
              @value={{this.editedName}}
              {{on "keydown" this.handleTitleKeyDown}}
              type="text"
              id="category-name-field"
              required
              class="form-control title-input"
              data-test-category-name-field
            />
          </div>
          {{#if this.error}}
            <div
              class="alert alert-danger"
              role="alert"
              data-test-error-message
            >
              {{this.error}}
            </div>
          {{/if}}
        </card.content>
        <card.actions class="app-button-container">
          <button
            {{on "click" @onCancel}}
            type="button"
            class="btn btn-secondary"
            disabled={{this.saving}}
            data-test-cancel-edit-button
          >
            Cancel
          </button>
          {{#if @onDelete}}
            <button
              {{on "click" this.handleDelete}}
              type="button"
              class="btn btn-secondary"
              disabled={{this.saving}}
              data-test-delete-button
            >
              Delete
            </button>
          {{/if}}
          <button
            type="submit"
            class="btn btn-primary"
            disabled={{this.saving}}
            data-test-save-button
          >
            {{#if this.saving}}
              Saving…
            {{else}}
              Save
            {{/if}}
          </button>
        </card.actions>
      </PaperForm>
    </PaperCard>
  {{/if}}
</div>
