<PaperToolbar>
  <PaperToolbarTools>
    {{#if @showSideNavToggle}}
      <PaperButton
        @iconButton={{true}}
        @onClick={{@onToggleSideNav}}
        @class="hide-gt-sm"
      >
        {{paper-icon "menu"}}
      </PaperButton>
    {{/if}}
    <h2 class="hide-gt-sm">{{@title}}</h2>
    <span class="flex"></span>
    {{yield}}
  </PaperToolbarTools>
</PaperToolbar>
