<PaperForm
  @onSubmit={{this.createTodo}}
  class="layout-margin"
  data-test-new-todo-form
  as |form|
>
  <form.input
    @placeholder={{@placeholder}}
    @value={{this.newTodoName}}
    @onChange={{action (mut this.newTodoName)}}
    @onKeyDown={{this.handleNameKeyDown}}
    @block={{true}}
    @textarea={{true}}
    data-test-new-todo-field
  />

  {{#if this.errorMessage}}
    <div
      class="alert alert-danger"
      role="alert"
      data-test-error-message
    >
      {{this.errorMessage}}
    </div>
  {{/if}}
</PaperForm>
