<PaperForm
  @onSubmit={{this.createTodo}}
  class="layout-margin"
  data-test-new-todo-form
  as |form|
>
  <form.input
    @placeholder={{@placeholder}}
    @value={{this.newTodoName}}
    @onChange={{action (mut this.newTodoName)}}
    @block={{true}}
    autocapitalize="sentences"
    data-test-new-todo-field
  />

  {{#if this.error}}
    <p
      class="error-text"
      data-test-error
    >
      {{this.error}}
    </p>
  {{/if}}
</PaperForm>
