<PaperForm
  @onSubmit={{this.createTodo}}
  class="layout-margin"
  data-test-new-todo-form
>
  <div data-test-new-todo-field>
    <Textarea
      @value={{this.newTodoName}}
      {{on "keydown" this.handleNameKeyDown}}
      placeholder={{@placeholder}}
      class="form-control"
      rows="1"
    />
  </div>

  {{#if this.error}}
    <p
      class="error-text"
      data-test-error
    >
      {{this.error}}
    </p>
  {{/if}}
</PaperForm>
