<form
  {{on "submit" this.createTodo}}
  data-test-new-todo-form
>
  <div data-test-new-todo-field>
    <Input
      @value={{this.newTodoName}}
      {{on "keydown" this.handleNameKeyDown}}
      placeholder={{@placeholder}}
      class="form-control"
    />
  </div>

  {{#if this.error}}
    <p
      class="error-text"
      data-test-error
    >
      {{this.error}}
    </p>
  {{/if}}
</form>
