<div class="card">
  <form
    {{on "submit" this.signIn}}
    data-test-sign-in-form
  >
    <div class="card-body">
      {{#if this.errorMessage}}
        <div
          class="alert alert-danger"
          role="alert"
          data-test-error-message
        >
          {{this.errorMessage}}
        </div>
      {{/if}}
      <div class="form-group" data-test-email-field>
        <label for="email-field">Email</label>
        <Input
          @value={{this.email}}
          id="email-field"
          type="email"
          class="form-control"
        />
      </div>
      <div class="form-group" data-test-password-field>
        <label for="password-field">Password</label>
        <Input
          @value={{this.password}}
          id="password-field"
          type="password"
          class="form-control"
        />
      </div>
      <div>
        <button
          {{on "click" this.goToSignUp}}
          type="button"
          class="btn btn-secondary"
          data-test-sign-up-button
        >
          Sign Up
        </button>
        <button
          type="submit"
          class="btn btn-primary"
        >
          Sign In
        </button>
      </div>
    </div>
  </form>
</div>

<div class="layout-margin deemphasized-text">
  <small><a href="https://thenounproject.com/search/?q=checkmark&i=1758124">Checkmark icon</a> by Scott Dunlap from the Noun Project</small>
</div>
