<div class="card m-3">
  <form
    {{on "submit" this.signIn}}
    data-test-sign-in-form
  >
    <div class="card-body">
      {{#if this.errorMessage}}
        <div
          class="alert alert-danger"
          role="alert"
          data-test-error-message
        >
          {{this.errorMessage}}
        </div>
      {{/if}}
      <div class="form-group" data-test-email-field>
        <label for="email-field">Email</label>
        <Input
          @value={{this.email}}
          type="email"
          id="email-field"
          class="form-control"
        />
      </div>
      <div class="form-group" data-test-password-field>
        <label for="password-field">Password</label>
        <Input
          @value={{this.password}}
          type="password"
          id="password-field"
          class="form-control"
        />
      </div>

      <div class="d-flex justify-content-end">
        <button
          {{on "click" this.goToSignUp}}
          type="button"
          class="btn btn-light"
          data-test-sign-up-button
        >
          Sign Up
        </button>
        &nbsp;
        <button
          type="submit"
          class="btn btn-primary"
        >
          Sign In
        </button>
      </div>
    </div>
  </form>
</div>

<div class="m-3 text-muted">
  <small>
    <a href="https://thenounproject.com/search/?q=checkmark&i=1758124" class="text-muted">Checkmark icon</a>
    by Scott Dunlap from the Noun Project
  </small>
</div>
