<PaperCard as |card|>
  <PaperForm
    @onSubmit={{this.signIn}}
    data-test-sign-in-form
    as |form|
  >
    <card.content>
      <p
        class="error-text"
        data-test-error-message
      >
        {{this.errorMessage}}
      </p>
      <form.input
        @type="email"
        @block={{true}}
        @label="Email"
        @value={{this.email}}
        @onChange={{action (mut this.email)}}
        @required={{true}}
        data-test-email-field
      />
      <form.input
        @type="password"
        @block={{true}}
        @label="Password"
        @value={{this.password}}
        @onChange={{action (mut this.password)}}
        @required={{true}}
        data-test-password-field
      />
    </card.content>
    <card.actions>
      <button
        {{on "click" this.goToSignUp}}
        type="button"
        class="btn btn-light"
        data-test-sign-up-button
      >
        Sign Up
      </button>
      &nbsp;
      <button
        type="submit"
        class="btn btn-primary"
      >
        Sign In
      </button>
    </card.actions>
  </PaperForm>
</PaperCard>

<div class="layout-margin deemphasized-text">
  <small><a href="https://thenounproject.com/search/?q=checkmark&i=1758124">Checkmark icon</a> by Scott Dunlap from the Noun Project</small>
</div>
