<PaperCard as |card|>
  <PaperForm
    @onSubmit={{this.signIn}}
    data-test-sign-in-form
    as |form|
  >
    <card.content>
      <p
        class="error-text"
        data-test-error-message
      >
        {{this.errorMessage}}
      </p>
      <div class="form-group" data-test-email-field>
        <label for="email-field">Email</label>
        <Input
          @value={{this.email}}
          id="email-field"
          type="email"
          required
        />
      </div>
      <div class="form-group" data-test-password-field>
        <label for="password-field">Password</label>
        <Input
          @value={{this.password}}
          id="password-field"
          type="password"
          required={{true}}
        />
      </div>
    </card.content>
    <card.actions>
      <button
        {{on "click" this.goToSignUp}}
        type="button"
        data-test-sign-up-button
      >
        Sign Up
      </button>
      <form.submit-button
        @raised="true"
        @primary={{true}}
      >
        Sign In
      </form.submit-button>
    </card.actions>
  </PaperForm>
</PaperCard>

<div class="layout-margin deemphasized-text">
  <small><a href="https://thenounproject.com/search/?q=checkmark&i=1758124">Checkmark icon</a> by Scott Dunlap from the Noun Project</small>
</div>
