<PaperCard as |card|>
  <card.title as |title|>
    <title.text as |text|>
      <text.headline>
        Sign Up
      </text.headline>
    </title.text>
  </card.title>
  <PaperForm
    @onSubmit={{this.signUp}}
    data-test-sign-up-form
    as |form|
  >
    <card.content>
      {{#if this.errorMessage}}
        <div
          class="alert alert-danger"
          role="alert"
          data-test-error-message
        >
          {{this.errorMessage}}
        </div>
      {{/if}}
      <div class="form-group" data-test-email-field>
        <label for="email-field">Email</label>
        <Input
          @value={{this.email}}
          id="email-field"
          type="email"
          class="form-control {{if this.errors.email "is-invalid"}}"
          aria-describedby="email-feedback"
        />
        <div
          id="email-feedback"
          class="invalid-feedback"
        >
          {{this.errors.email}}
        </div>
      </div>
      <div class="form-group" data-test-password-field>
        <label for="password-field">Password</label>
        <Input
          @value={{this.password}}
          id="password-field"
          type="password"
          class="form-control {{if this.errors.password "is-invalid"}}"
          aria-describedby="password-feedback"
        />
        <div
          id="password-feedback"
          class="invalid-feedback"
        >
          {{this.errors.password}}
        </div>
      </div>
      <div class="form-group" data-test-password-confirmation-field>
        <label for="password-confirmation-field">Confirm Password</label>
        <Input
          @value={{this.passwordConfirmation}}
          id="password-confirmation-field"
          type="password"
          class="form-control {{if this.errors.passwordConfirmation "is-invalid"}}"
          aria-describedby="password-confirmation-feedback"
        />
        <div
          id="password-confirmation-feedback"
          class="invalid-feedback"
        >
          {{this.errors.passwordConfirmation}}
        </div>
      </div>
    </card.content>
    <card.actions>
      <PaperButton @onClick={{@onCancel}}>
        Cancel
      </PaperButton>
      <form.submit-button
        @raised="true"
        @primary={{true}}
        data-test-sign-up-confirm-button
      >
        Sign Up
      </form.submit-button>
    </card.actions>
  </PaperForm>
</PaperCard>
