<PaperCard as |card|>
  <card.title as |title|>
    <title.text as |text|>
      <text.headline>{{@todo.name}}</text.headline>
    </title.text>
  </card.title>
  <card.content>
    <p>Created {{relative-date @todo.createdAt}}</p>
    {{#if @todo.isDeleted}}
      <p>Deleted {{relative-date @todo.deletedAt}}</p>
    {{else if @todo.isCompleted}}
      <p>Completed {{relative-date @todo.completedAt}}</p>
    {{else if @todo.deferredUntil}}
      <p>Deferred until {{relative-date @todo.deferredUntil}}</p>
    {{/if}}
  </card.content>
  <card.actions>
    {{#if (eq this.buttonSet 'actions')}}
      {{#if @todo.isDeleted}}
        <PaperButton @onClick={{this.undelete}}>
          Undelete
        </PaperButton>
      {{else}}
        <PaperButton @onClick={{this.delete}}>
          Delete
        </PaperButton>
        {{#unless @todo.isCompleted}}
          <PaperButton @onClick={{this.defer}}>
            Defer
          </PaperButton>
        {{/unless}}
        {{#if @todo.isCompleted}}
          <PaperButton @onClick={{this.uncomplete}}>
            Uncomplete
          </PaperButton>
        {{else}}
          <PaperButton @onClick={{this.complete}} @raised={{true}} @primary={{true}}>
            Complete
          </PaperButton>
        {{/if}}
      {{/if}}
    {{else if (eq this.buttonSet 'defer')}}
      <PaperButton @onClick={{this.cancelDefer}}>
        Cancel
      </PaperButton>
      <PaperButton @onClick={{this.deferOneDay}}>
        Defer One Day
      </PaperButton>
    {{/if}}
  </card.actions>
</PaperCard>
