<PaperCard as |card|>
    {{#if this.isEditing}}
    <card.title as |title|>
      <title.text as |text|>
        <text.headline>
          Edit Todo
        </text.headline>
      </title.text>
    </card.title>
    <PaperForm @onSubmit={{this.handleSave}} as |form|>
      <card.content>
        <form.input
          @label="Todo"
          @value={{this.editedName}}
          @onChange={{action (mut this.editedName)}}
          @block={{true}}
          autocapitalize="true"
          data-test-todo-name-field
        />
        <form.input
          @type="date"
          @label="Defer Until Date"
          @value={{this.deferredUntil}}
          @onChange={{action (mut this.deferredUntil)}}
          @block={{true}}
          data-test-deferred-until-field
        />
      </card.content>
      <card.actions>
        <PaperButton @onClick={{this.cancelEdit}}>
          Cancel
        </PaperButton>
        <form.submit-button
          @raised={{true}}
          @primary={{true}}
          data-test-save-button
        >
          {{paper-icon "save"}}
          Save
        </form.submit-button>
      </card.actions>
    </PaperForm>
  {{else}}
    <card.title as |title|>
      <title.text as |text|>
        <text.headline>
          <div class="layout-row layout-align-space-between-center">
            <div class="flex-90" data-test-todo-name>
              {{@todo.name}}
            </div>
            <div class="flex-10 layout-align-end">
              <PaperButton
                @iconButton={{true}}
                @onClick={{this.edit}}
                data-test-edit-button
              >
                {{paper-icon "edit"}}
              </PaperButton>
            </div>
          </div>
        </text.headline>
      </title.text>
    </card.title>
    <card.content>
      {{#if @todo.isDeleted}}
        <p data-test-deleted-at>
          Deleted {{relative-datetime @todo.deletedAt}}
        </p>
      {{/if}}

      {{#if @todo.isCompleted}}
        <p data-test-completed-at>
          {{#if @todo.isDeleted}}
            <small>Completed {{relative-datetime @todo.completedAt}}</small>
          {{else}}
            Completed {{relative-datetime @todo.completedAt}}
          {{/if}}
        </p>
      {{/if}}

      {{#if @todo.deferredUntil}}
        <p data-test-deferred-until>
          {{#if (or @todo.isDeleted @todo.isCompleted)}}
            <small>Deferred until {{relative-date @todo.deferredUntil}}</small>
          {{else}}
            Deferred until {{relative-date @todo.deferredUntil}}
          {{/if}}
        </p>
      {{/if}}

      {{#if (or @todo.isDeleted @todo.isCompleted @todo.deferredUntil)}}
        <p><small>Created {{relative-datetime @todo.createdAt}}</small></p>
      {{else}}
        <p>Created {{relative-datetime @todo.createdAt}}</p>
      {{/if}}

      {{#if (and @todo.isDeleted @todo.isCompleted)}}
        <p><small>Completed {{relative-datetime @todo.completedAt}}</small></p>
      {{/if}}
    </card.content>
    <card.actions class="app-button-container">
      {{#if (eq this.buttonSet 'actions')}}
        {{#if @todo.isDeleted}}
          <PaperButton
            @raised={{true}}
            @primary={{true}}
            @onClick={{this.undelete}}
          >
            {{paper-icon "restore_from_trash"}}
            Undelete
          </PaperButton>
        {{else}}
          <PaperButton
            @onClick={{this.delete}}
            data-test-delete-button
          >
            Delete
          </PaperButton>
          {{#if @todo.isCompleted}}
            <PaperButton
              @raised={{true}}
              @primary={{true}}
              @onClick={{this.uncomplete}}
              data-test-uncomplete-button
            >
              {{paper-icon "check_box_outline_blank"}}
              Uncomplete
            </PaperButton>
          {{else}}
            <PaperButton
              @onClick={{this.defer}}
              data-test-defer-button
            >
              Defer
            </PaperButton>
            <PaperButton
              @onClick={{this.complete}}
              @raised={{true}}
              @primary={{true}}
              data-test-complete-button
            >
              {{paper-icon "check_box"}}
              Complete
            </PaperButton>
          {{/if}}
        {{/if}}
      {{else if (eq this.buttonSet 'defer')}}
        <PaperButton @onClick={{this.cancelDefer}}>
          Cancel
        </PaperButton>
        <PaperButton
          @onClick={{this.deferOneDay}}
          data-test-defer-one-day-button
        >
          Defer One Day
        </PaperButton>
        <PaperButton
          @onClick={{this.deferUntilDate}}
          data-test-defer-until-date-button
        >
          Defer Until Date
        </PaperButton>
      {{else if (eq this.buttonSet 'defer_until_date')}}
        <PaperForm
          @onSubmit={{this.saveEnteredDeferredDate}}
          as |form|
        >
          <form.input
            @type="date"
            @label="Defer Until Date"
            @value={{this.deferredUntil}}
            @onChange={{action (mut this.deferredUntil)}}
            data-test-deferred-until-field
          />
          <PaperButton @onClick={{this.cancelDefer}}>
            Cancel
          </PaperButton>
          <form.submit-button
            @raised={{true}}
            @primary={{true}}
            data-test-defer-button
          >
            {{paper-icon "calendar_today"}}
            Defer
          </form.submit-button>
        </PaperForm>
      {{/if}}
    </card.actions>
  {{/if}}
</PaperCard>
