<PaperCard as |card|>
  <PaperToolbar>
    <PaperToolbarTools>
      <PaperButton @iconButton={{true}}>
        {{paper-icon @icon}}
      </PaperButton>
      <h2>{{@title}}</h2>
      <span class="flex"></span>
      <PaperButton
        @iconButton={{true}}
        @onClick={{@onRefresh}}
      >
        {{paper-icon 'refresh'}}
      </PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperContent>
    <PaperList>
      {{#each @todos as |todo|}}
        <TodoList::Item
          @todo={{todo}}
          @onChooseTodo={{@onChooseTodo}}
        >
          {{#if (has-block)}}
            <p
              class="todo-list-item__subtitle"
              data-test-deferred-until
            >
              {{yield todo}}
            </p>
          {{/if}}
        </TodoList::Item>
        <PaperDivider />
      {{else}}
        <PaperItem>
          <p><em>(no todos)</em></p>
        </PaperItem>
      {{/each}}
    </PaperList>
  </PaperContent>
</PaperCard>
