<PaperCard as |card|>
  <PaperToolbar>
    <PaperToolbarTools>
      <PaperButton @iconButton={{true}}>
        {{paper_icon @icon}}
      </PaperButton>
      <h2>{{@title}}</h2>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperContent>
    <PaperList>
      {{#each @todos as |todo|}}
        {{#if (has-block)}}
          <PaperItem
            @class="md-2-line"
            @onClick={{fn @onChooseTodo todo}}
          >
            <div class="md-list-item-text">
              <h3 data-test-todo>{{todo.name}}</h3>
              <p>{{yield todo}}</p>
            </div>
            <PaperDivider />
          </PaperItem>
        {{else}}
          <PaperItem
            @onClick={{fn @onChooseTodo todo}}
            data-test-todo
          >
            <p>{{todo.name}}</p>
            <PaperDivider />
          </PaperItem>
        {{/if}}
      {{else}}
        <PaperItem>
          <p><em>(no todos)</em></p>
        </PaperItem>
      {{/each}}
    </PaperList>
  </PaperContent>
</PaperCard>
