<div {{did-update this.resetStateIfModelChanged @todo}}>
  {{#if this.isEditing}}
    <TodoDetail::EditForm
      @todo={{@todo}}
      @onSave={{this.handleSave}}
      @onCancel={{this.handleCancel}}
    />
  {{else if @error}}
    <PaperCard as |card|>
      <card.title as |title|>
        <title.text as |text|>
          <text.headline class="todo-headline__container">
            Error loading todo
          </text.headline>
        </title.text>
      </card.title>
    </PaperCard>
  {{else}}
    <PaperCard as |card|>
      <card.title as |title|>
        <title.text as |text|>
          <text.headline class="todo-headline__container">
            <div
              class="todo-headline__title click-to-edit"
              data-test-todo-name
              {{on 'click' this.edit}}
            >
              {{this.displayModel.name}}
            </div>
            <PaperButton
              @iconButton={{true}}
              @onClick={{this.edit}}
              class="todo-headline__button"
              data-test-edit-button
            >
              {{paper-icon "edit"}}
            </PaperButton>
          </text.headline>
        </title.text>
      </card.title>
      <card.content>
        {{#if this.displayModel.notes}}
          <div class="notes-display click-to-edit" {{on 'click' this.edit}}>{{this.displayModel.notes}}</div>
        {{/if}}
        <TodoDetail::EventLog
          @displayModel={{this.displayModel}}
        />

        {{#if this.error}}
          <p class="error-text">{{this.error}}</p>
        {{/if}}
      </card.content>
      <card.actions class="app-button-container">
        {{#if (eq this.buttonSet 'actions')}}
          {{#if this.displayModel.isDeleted}}
            <PaperButton
              @raised={{true}}
              @primary={{true}}
              @disabled={{this.isProcessing}}
              @onClick={{this.undelete}}
              data-test-undelete-button
            >
              {{paper-icon "restore_from_trash"}}
              {{#if this.isUndeleting}}
                Undeleting…
              {{else}}
                Undelete
              {{/if}}
            </PaperButton>
          {{else}}
            <PaperButton
              @disabled={{this.isProcessing}}
              @onClick={{this.delete}}
              data-test-delete-button
            >
              {{#if this.isDeleting}}
                Deleting…
              {{else}}
                Delete
              {{/if}}
            </PaperButton>
            {{#if this.displayModel.isCompleted}}
              <PaperButton
                @raised={{true}}
                @primary={{true}}
                @disabled={{this.isProcessing}}
                @onClick={{this.uncomplete}}
                data-test-uncomplete-button
              >
                {{paper-icon "check_box_outline_blank"}}
                {{#if this.isUncompleting}}
                  Uncompleting…
                {{else}}
                  Uncomplete
                {{/if}}
              </PaperButton>
            {{else}}
              <PaperButton
                @disabled={{this.isProcessing}}
                @onClick={{this.defer}}
                data-test-defer-button
              >
                Defer
              </PaperButton>
              <PaperButton
                @raised={{true}}
                @primary={{true}}
                @disabled={{this.isProcessing}}
                @onClick={{this.complete}}
                data-test-complete-button
              >
                {{paper-icon "check_box"}}
                {{#if this.isCompleting}}
                  Completing…
                {{else}}
                  Complete
                {{/if}}
              </PaperButton>
            {{/if}}
          {{/if}}
        {{else if (eq this.buttonSet 'defer')}}
          <PaperButton
            @disabled={{this.isProcessing}}
            @onClick={{this.cancelDefer}}
          >
            Cancel
          </PaperButton>
          <PaperButton
            @disabled={{this.isProcessing}}
            @onClick={{this.deferOneDay}}
            data-test-defer-one-day-button
          >
            {{#if this.isDeferring}}
              Deferring…
            {{else}}
              Defer One Day
            {{/if}}
          </PaperButton>
          <PaperButton
            @disabled={{this.isProcessing}}
            @onClick={{this.deferUntilDate}}
            data-test-defer-until-date-button
          >
            Pick Date
          </PaperButton>
        {{else if (eq this.buttonSet 'defer_until_date')}}
          <PaperForm
            @onSubmit={{this.saveEnteredDeferredDate}}
            class="app-button-container"
            as |form|
          >
            <form.input
              @type="date"
              @label="Defer Until Date"
              @value={{this.deferredUntil}}
              @onChange={{action (mut this.deferredUntil)}}
              data-test-deferred-until-field
            />
            <PaperButton
              @disabled={{this.isProcessing}}
              @onClick={{this.cancelDefer}}
            >
              Cancel
            </PaperButton>
            <form.submit-button
              @raised={{true}}
              @primary={{true}}
              @disabled={{this.isProcessing}}
              data-test-defer-button
            >
              {{paper-icon "calendar_today"}}
              {{#if this.isDeferring}}
                Deferring…
              {{else}}
                Defer
              {{/if}}
            </form.submit-button>
          </PaperForm>
        {{/if}}
      </card.actions>
    </PaperCard>
  {{/if}}
</div>
