<div {{did-update this.resetStateIfModelChanged @todo}}>
  {{#if this.isEditing}}
    <TodoDetail::EditForm
      @todo={{@todo}}
      @categories={{@categories}}
      @onSave={{this.handleSave}}
      @onCancel={{this.handleCancel}}
    />
  {{else if @error}}
    <PaperCard as |card|>
      <card.title as |title|>
        <title.text as |text|>
          <text.headline
            class="todo-headline__container"
            data-test-error-message
          >
            Error loading todo
          </text.headline>
        </title.text>
      </card.title>
    </PaperCard>
  {{else}}
    <div class="card">
      <div class="card-content overflow-hidden">
        <h2 class="card-title todo-headline__container">
          <button
            type="button"
            class="todo-headline__title click-to-edit unstyled-button"
            data-test-todo-name
            {{on "click" this.edit}}
          >
            {{this.displayModel.name}}
          </button>
          <button
            {{on "click" this.edit}}
            type="button"
            class="todo-headline__button"
            data-test-edit-button
          >
            edit
          </button>
        </h2>
        {{#if this.displayModel.notes}}
          <button type="button" class="notes-display click-to-edit unstyled-button" {{on "click" this.edit}} data-test-todo-notes>{{this.displayModel.notes}}</button>
        {{/if}}
        {{#if this.displayModel.category}}
          <p>Category: {{this.displayModel.category.name}}</p>
        {{/if}}
        <TodoDetail::EventLog
          @displayModel={{this.displayModel}}
        />

        {{#if this.error}}
          <div
            class="alert alert-danger"
            role="alert"
            data-test-error-message
          >
            {{this.error}}
          </div>
        {{/if}}

        {{#if (eq this.buttonSet "defer")}}
          <div class="app-button-container-stacked">
            <button
              {{on "click" this.cancelDefer}}
              type="button"
              class="btn btn-secondary"
              disabled={{this.isProcessing}}
              data-test-cancel-defer-button
            >
              Cancel
            </button>
            {{#let (defer-date
              start=this.displayModel.deferredUntil
              days=1
            ) as |deferDate|}}
              <button
                {{on "click" (fn this.saveDeferUntilDate deferDate)}}
                type="button"
                class="btn btn-secondary"
                disabled={{this.isProcessing}}
                data-test-defer-one-day-button
              >
                {{#if this.isDeferring}}
                  Deferring…
                {{else}}
                  1 Day - {{day-of-week deferDate}}
                {{/if}}
              </button>
            {{/let}}
            {{#let (defer-date
              start=this.displayModel.deferredUntil
              days=2
            ) as |deferDate|}}
              <button
                {{on "click" (fn this.saveDeferUntilDate deferDate)}}
                type="button"
                class="btn btn-secondary"
                disabled={{this.isProcessing}}
                data-test-defer-two-days-button
              >
                {{#if this.isDeferring}}
                  Deferring…
                {{else}}
                  2 Days - {{day-of-week deferDate}}
                {{/if}}
              </button>
            {{/let}}
            {{#let (defer-date
              start=this.displayModel.deferredUntil
              days=3
            ) as |deferDate|}}
              <button
                {{on "click" (fn this.saveDeferUntilDate deferDate)}}
                type="button"
                class="btn btn-secondary"
                disabled={{this.isProcessing}}
                data-test-defer-three-days-button
              >
                {{#if this.isDeferring}}
                  Deferring…
                {{else}}
                  3 Days -
                  {{day-of-week deferDate}}
                {{/if}}
              </button>
            {{/let}}
            {{#let (defer-date
              start=this.displayModel.deferredUntil
              days=7
            ) as |deferDate|}}
              <button
                {{on "click" (fn this.saveDeferUntilDate deferDate)}}
                type="button"
                class="btn btn-secondary"
                disabled={{this.isProcessing}}
                data-test-defer-one-week-button
              >
                {{#if this.isDeferring}}
                  Deferring…
                {{else}}
                  1 Week - {{day-of-week deferDate}}
                {{/if}}
              </button>
            {{/let}}
            <button
              {{on "click" this.deferUntilDate}}
              type="button"
              disabled={{this.isProcessing}}
              class="btn btn-secondary"
              data-test-defer-until-date-button
            >
              Pick Date
            </button>
          </div>
        {{/if}}
        <div class="app-button-container">
          {{#if (eq this.buttonSet "actions")}}
            {{#if this.displayModel.isDeleted}}
              <button
                {{on "click" this.undelete}}
                type="button"
                disabled={{this.isProcessing}}
                class="btn btn-primary"
                data-test-undelete-button
              >
                {{#if this.isUndeleting}}
                  Undeleting…
                {{else}}
                  Undelete
                {{/if}}
              </button>
            {{else}}
              <button
                {{on "click" this.delete}}
                type="button"
                disabled={{this.isProcessing}}
                class="btn btn-secondary"
                data-test-delete-button
              >
                {{#if this.isDeleting}}
                  Deleting…
                {{else}}
                  Delete
                {{/if}}
              </button>
              {{#if this.displayModel.isCompleted}}
                <button
                  {{on "click" this.uncomplete}}
                  type="button"
                  class="btn btn-primary"
                  disabled={{this.isProcessing}}
                  data-test-uncomplete-button
                >
                  {{paper-icon "check_box_outline_blank"}}
                  {{#if this.isUncompleting}}
                    Uncompleting…
                  {{else}}
                    Uncomplete
                  {{/if}}
                </button>
              {{else}}
                <button
                  {{on "click" this.defer}}
                  type="button"
                  class="btn btn-secondary"
                  disabled={{this.isProcessing}}
                  data-test-defer-button
                >
                  Defer
                </button>
                <button
                  {{on "click" this.complete}}
                  type="button"
                  class="btn btn-primary"
                  disabled={{this.isProcessing}}
                  data-test-complete-button
                >
                  {{paper-icon "check_box"}}
                  {{#if this.isCompleting}}
                    Completing…
                  {{else}}
                    Complete
                  {{/if}}
                </button>
              {{/if}}
            {{/if}}
          {{else if (eq this.buttonSet "defer_until_date")}}
            <PaperForm
              @onSubmit={{this.saveEnteredDeferredDate}}
              class="app-button-container"
              as |form|
            >
              <form.input
                @type="date"
                @label="Defer Until Date"
                @value={{this.deferredUntil}}
                @onChange={{action (mut this.deferredUntil)}}
                data-test-deferred-until-field
              />
              <button
                {{on "click" this.cancelDefer}}
                type="button"
                class="btn btn-secondary"
                disabled={{this.isProcessing}}
                data-test-cancel-defer-until-date-button
              >
                Cancel
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                disabled={{this.isProcessing}}
                data-test-defer-button
              >
                {{paper-icon "calendar_today"}}
                {{#if this.isDeferring}}
                  Deferring…
                {{else}}
                  Defer
                {{/if}}
              </button>
            </PaperForm>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
