<PaperCard as |card|>
  <card.title as |title|>
    <title.text as |text|>
      <text.headline>{{@todo.name}}</text.headline>
    </title.text>
  </card.title>
  <card.content>
    <p>Created {{relative-date @todo.createdAt}}</p>
    {{#if @todo.isDeleted}}
      <p>Deleted {{relative-date @todo.deletedAt}}</p>
    {{else if @todo.isCompleted}}
      <p>Completed {{relative-date @todo.completedAt}}</p>
    {{else if @todo.deferredUntil}}
      <p>Deferred until {{relative-date @todo.deferredUntil}}</p>
    {{/if}}
  </card.content>
  <card.actions>
    {{#if @todo.isDeleted}}
      <PaperButton @onClick={{this.undelete}}>
        Undelete
      </PaperButton>
    {{else}}
      {{#if @todo.isCompleted}}
        <PaperButton @onClick={{this.uncomplete}}>
          Uncomplete
        </PaperButton>
      {{else}}
        <PaperButton @onClick={{this.complete}}>
          Complete
        </PaperButton>
      {{/if}}
      <PaperButton @onClick={{this.delete}}>
        Delete
      </PaperButton>
      {{#unless @todo.isCompleted}}
        <PaperButton @onClick={{this.defer}}>
          Defer
        </PaperButton>
      {{/unless}}
    {{/if}}
  </card.actions>
</PaperCard>
