<PaperCard as |card|>
  <PaperList>
    {{#each @todos as |todo|}}
      {{#if (has-block)}}
        <PaperItem @class="md-2-line" @onClick={{fn @onChooseTodo todo}}>
          <div class="md-list-item-text">
            <h3>{{todo.name}}</h3>
            <p>{{yield todo}}</p>
          </div>
        </PaperItem>
      {{else}}
        <PaperItem @onClick={{fn @onChooseTodo todo}}>
          <p>{{todo.name}}</p>
        </PaperItem>
      {{/if}}
    {{/each}}
  </PaperList>
</PaperCard>
