<PaperCard as |card|>
  <PaperToolbar>
    <PaperToolbarTools>
      <PaperButton @iconButton={{true}}>
        {{paper-icon @icon}}
      </PaperButton>
      <h2>{{@title}}</h2>
      <span class="flex"></span>
      <PaperButton
        @iconButton={{true}}
        @onClick={{@onRefresh}}
      >
        {{paper-icon 'refresh'}}
      </PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperContent>
    <PaperList>
      {{#each @todos as |todo|}}
        <PaperItem
          @onClick={{fn @onChooseTodo todo}}
          data-test-todo
        >
          <div class="todo-list-item__container">
            <p
              class="todo-list-item__title"
              data-test-todo-name
            >
              {{todo.name}}
            </p>
            {{#if (has-block)}}
              <p
                class="todo-list-item__subtitle"
                data-test-deferred-until
              >
                {{yield todo}}
              </p>
            {{/if}}
          </div>
          <PaperDivider />
        </PaperItem>
      {{else}}
        <PaperItem>
          <p><em>(no todos)</em></p>
        </PaperItem>
      {{/each}}
    </PaperList>
  </PaperContent>
</PaperCard>
