<PaperCard as |card|>
  <PaperToolbar>
    <PaperToolbarTools>
      <PaperButton @iconButton={{true}} @click={{@onClickHeaderIcon}}>
        {{paper-icon @icon}}
      </PaperButton>
      <h2>
        {{@title}}
        {{#if (and @todos (not @pageNumber))}}
          ({{@todos.length}})
        {{/if}}
      </h2>
      <span class="flex"></span>
      <PaperButton
        @iconButton={{true}}
        @onClick={{@onRefresh}}
      >
        {{paper-icon 'refresh'}}
      </PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperContent>
    {{#if @loading}}
      <div class="layout-margin">
        <PaperProgressCircular />
      </div>
    {{else if @error}}
      <PaperList>
        <PaperItem>
          <p class="error-text">An error occurred loading todos.</p>
        </PaperItem>
      </PaperList>
    {{else}}
      <PaperList>
        <PaginationControls
          @pageNumber={{@pageNumber}}
          @totalPages={{@totalPages}}
          @prevPage={{@prevPage}}
          @nextPage={{@nextPage}}
        />

        {{#if @groups}}
          {{#each @groups as |group|}}
            <PaperSubheader data-test-group-deferred-until>
              {{capitalize (relative-date group.date)}}
            </PaperSubheader>
            {{#each group.todos as |todo|}}
              <TodoList::Item
                @todo={{todo}}
                @onChooseTodo={{@onChooseTodo}}
              >
                {{#if (has-block)}}
                  <p
                    class="todo-list-item__subtitle"
                    data-test-deferred-until
                  >
                    {{yield todo}}
                  </p>
                {{/if}}
              </TodoList::Item>
            {{/each}}
            <PaperDivider />
          {{/each}}
        {{else if @todos}}
          {{#each @todos as |todo|}}
            <TodoList::Item
              @todo={{todo}}
              @onChooseTodo={{@onChooseTodo}}
            >
              {{#if (has-block)}}
                <p
                  class="todo-list-item__subtitle"
                  data-test-deferred-until
                >
                  {{yield todo}}
                </p>
              {{/if}}
            </TodoList::Item>
            <PaperDivider />
          {{/each}}
        {{else}}
          <PaperItem>
            <p><em>{{@noTodosMessage}}</em></p>
          </PaperItem>
        {{/if}}
      </PaperList>
    {{/if}}
  </PaperContent>
</PaperCard>
