<PaperCard as |card|>
  <card.title as |title|>
    <title.text as |text|>
      <text.headline>{{@todo.name}}</text.headline>
    </title.text>
  </card.title>
  <card.content>
    <p>Created {{relative-datetime @todo.createdAt}}</p>
    {{#if @todo.isDeleted}}
      <p>Deleted {{relative-datetime @todo.deletedAt}}</p>
    {{else if @todo.isCompleted}}
      <p>Completed {{relative-datetime @todo.completedAt}}</p>
    {{else if @todo.deferredUntil}}
      <p>Deferred until {{relative-date @todo.deferredUntil}}</p>
    {{/if}}
  </card.content>
  <card.actions class="app-button-container">
    {{#if (eq this.buttonSet 'actions')}}
      {{#if @todo.isDeleted}}
        <PaperButton @onClick={{this.undelete}}>
          {{paper-icon "restore_from_trash"}}
          Undelete
        </PaperButton>
      {{else}}
        <PaperButton @onClick={{this.delete}}>
          {{paper-icon "delete"}}
          Delete
        </PaperButton>
        {{#unless @todo.isCompleted}}
          <PaperButton @onClick={{this.defer}}>
            {{paper-icon "calendar_today"}}
            Defer
          </PaperButton>
        {{/unless}}
        {{#if @todo.isCompleted}}
          <PaperButton @onClick={{this.uncomplete}}>
            {{paper-icon "check_box_outline_blank"}}
            Uncomplete
          </PaperButton>
        {{else}}
          <PaperButton @onClick={{this.complete}} @raised={{true}} @primary={{true}}>
            {{paper-icon "check_box"}}
            Complete
          </PaperButton>
        {{/if}}
      {{/if}}
    {{else if (eq this.buttonSet 'defer')}}
      <PaperButton @onClick={{this.cancelDefer}}>
        Cancel
      </PaperButton>
      <PaperButton @onClick={{this.deferOneDay}}>
        {{paper-icon "calendar_today"}}
        Defer One Day
      </PaperButton>
      <PaperButton @onClick={{this.deferUntilDate}}>
        {{paper-icon "calendar_today"}}
        Defer Until Date
      </PaperButton>
    {{else if (eq this.buttonSet 'defer_until_date')}}
      <PaperInput
        @type="date"
        @label="Defer Until Date"
        @value={{this.deferredUntil}}
        @onChange={{action (mut this.deferredUntil)}}
      />
      <PaperButton @onClick={{this.cancelDefer}}>
        Cancel
      </PaperButton>
      <PaperButton @onClick={{this.saveEnteredDeferredDate}}>
        Defer
      </PaperButton>
    {{/if}}
  </card.actions>
</PaperCard>
