<li
  class="list-group-item d-flex justify-content-between"
  data-test-category
>
  <button
    {{on "click" (fn @onChooseCategory @category)}}
    type="button"
    class="flex-fill category-button"
  >
    <span data-test-category-name>
      {{@category.name}}
    </span>
  </button>
  <div>
    <IconButton @onClick={{fn @moveUpward @category}}>
      {{paper-icon "arrow_upward"}}
    </IconButton>
    <IconButton @onClick={{fn @moveDownward @category}}>
      {{paper-icon "arrow_downward"}}
    </IconButton>
  </div>
</li>
