<PaperItem
  @onClick={{fn @onChooseCategory @category}}
  data-test-category
  as |controls|
>
  <p
    data-test-category-name
  >
    {{@category.name}}
  </p>
  <div class="md-secondary-container">
    <controls.button
      @iconButton={{true}}
      @onClick={{fn @moveUpward @category}}
    >
      {{paper-icon "arrow_upward"}}
    </controls.button>
    <controls.button
      @iconButton={{true}}
      @onClick={{fn @moveDownward @category}}
    >
      {{paper-icon "arrow_downward"}}
    </controls.button>
  </div>
</PaperItem>
