<div class="card">
  <form
    {{on "submit" this.handleSave}}
    data-test-todo-edit-form
  >
    <div class="card-content">
      <div
        class="form-group"
        data-test-todo-name-field
      >
        <Textarea
          @value={{this.editedName}}
          {{on "keydown" this.handleTitleKeyDown}}
          placeholder="Todo"
          class="form-control title-input"
        />
      </div>
      <div class="form-group">
        <label for="category-field">Category</label>
        <PowerSelect
          @selected={{this.editedCategory}}
          @onChange={{action (mut this.editedCategory)}}
          @options={{@categories}}
          class="form-control"
          as |category|
        >
          {{category.name}}
        </PowerSelect>
        {{#if this.editedCategory}}
          <button
            {{on "click" this.clearCategory}}
            type="button"
            class="btn btn-secondary"
          >
            clear
          </button>
        {{/if}}
      </div>
      <div
        class="form-group"
        data-test-deferred-until-field
      >
        <label for="deferred-until-field">
          Defer Until Date
        </label>
        <Input
          @value={{this.deferredUntil}}
          type="date"
          class="form-control"
        />
      </div>
      <div
        class="form-group"
        data-test-notes-field
      >
        <label for="notes-field">Notes</label>
        <Textarea
          @value={{this.editedNotes}}
          class="form-control"
        />
      </div>
      {{#if this.error}}
        <div
          class="alert alert-danger"
          role="alert"
          data-test-error-message
        >
          {{this.error}}
        </div>
      {{/if}}
      <div>
        <button
          {{on "click" @onCancel}}
          type="button"
          class="btn btn-secondary"
          data-test-cancel-edit-button
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          disabled={{this.saving}}
          data-test-save-button
        >
          {{#if this.saving}}
            Saving…
          {{else}}
            Save
          {{/if}}
        </button>
      </div>
    </div>
  </form>
</div>
