<PaperCard as |card|>
  <PaperForm
    onSubmit={{this.handleSave}}
    data-test-todo-edit-form
    as |form|
  >
    <card.content>
      <form.input
        @placeholder="Todo"
        @value={{this.editedName}}
        @onKeyDown={{this.handleTitleKeyDown}}
        @onChange={{action (mut this.editedName)}}
        @block={{true}}
        @textarea={{true}}
        class="title-input"
        data-test-todo-name-field
      />
      <div>
        <form.select
          @label="Category"
          @selected={{this.editedCategory}}
          @onChange={{action (mut this.editedCategory)}}
          @options={{@categories}}
          as |category|
        >
          {{category.name}}
        </form.select>
        {{#if this.editedCategory}}
          <PaperButton
            @iconButton={{true}}
            @onClick={{this.clearCategory}}
          >
            {{paper-icon "clear"}}
          </PaperButton>
        {{/if}}
      </div>
      <div
        class="form-group"
        data-test-deferred-until-field
      >
        <label for="deferred-until-field">
          Defer Until Date
        </label>
        <Input
          @value={{this.deferredUntil}}
          type="date"
          id="deferred-until-field"
          class="form-control"
        />
      </div>
      <div class="form-group" data-test-notes-field>
        <label for="notes-field">Notes</label>
        <Textarea
          @value={{this.editedNotes}}
          id="notes-field"
          class="form-control"
        />
      </div>

      {{#if this.error}}
        <p
          class="error-text"
          data-test-error-message
        >
          {{this.error}}
        </p>
      {{/if}}
    </card.content>
    <card.actions class="app-button-container">
      <button
        {{on "click" @onCancel}}
        type="button"
        class="btn btn-light"
        data-test-cancel-edit-button
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        disabled={{this.saving}}
        data-test-save-button
      >
        {{paper-icon "save"}}
        {{#if this.saving}}
          Saving…
        {{else}}
          Save
        {{/if}}
      </button>
    </card.actions>
  </PaperForm>
</PaperCard>
