<div class="card">
  <form
    {{on "submit" this.handleSave}}
    data-test-todo-edit-form
  >
    <div class="card-body">
      <Textarea
        placeholder="Todo"
        @value={{this.editedName}}
        {{on "keydown" this.handleTitleKeyDown}}
        class="form-control title-input"
        data-test-todo-name-field
      />
      <div>
        <div class="form-group">
          <label for="category-field">Category</label>
          <div class="d-flex align-items-center">
            <div class="flex-fill">
              <PowerSelect
                @selected={{this.editedCategory}}
                @onChange={{fn (mut this.editedCategory)}}
                @options={{@categories}}
                id="category-field"
                as |category|
              >
                <span class="category-dropdown__item">
                  <span class="category-dropdown__item-wrapper">
                    {{category.name}}
                  </span>
                </span>
              </PowerSelect>
            </div>
            {{#if this.editedCategory}}
              <IconButton @onClick={{this.clearCategory}}>
                <AppIcon @icon="clear" @alt="clear" />
              </IconButton>
            {{/if}}
          </div>
        </div>
      </div>
      <div
        class="form-group"
        data-test-deferred-until-field
      >
        <label for="deferred-until-field">
          Defer Until Date
        </label>
        <Input
          @value={{this.deferredUntil}}
          type="date"
          id="deferred-until-field"
          class="form-control"
        />
      </div>
      <div class="form-group" data-test-notes-field>
        <label for="notes-field">Notes</label>
        <Textarea
          @value={{this.editedNotes}}
          id="notes-field"
          class="form-control"
        />
      </div>

      {{#if this.errorMessage}}
        <div
          class="alert alert-danger"
          role="alert"
          data-test-error-message
        >
          {{this.errorMessage}}
        </div>
      {{/if}}
      <div class="app-button-container">
        <button
          {{on "click" @onCancel}}
          type="button"
          class="btn btn-light"
          data-test-cancel-edit-button
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          disabled={{this.saving}}
          data-test-save-button
        >
          <AppIcon @icon="save" @alt="save" />
          {{#if this.saving}}
            Saving…
          {{else}}
            Save
          {{/if}}
        </button>
      </div>
    </div>
  </form>
</div>
