<PaperCard as |card|>
  <PaperForm
    onSubmit={{this.handleSave}}
    data-test-todo-edit-form
    as |form|
  >
    <card.content>
      <form.input
        @placeholder="Todo"
        @value={{this.editedName}}
        @onKeyDown={{this.handleTitleKeyDown}}
        @onChange={{action (mut this.editedName)}}
        @block={{true}}
        @textarea={{true}}
        class="title-input"
        autocapitalize="true"
        data-test-todo-name-field
      />
      <div>
        <form.select
          @label="Category"
          @selected={{this.editedCategory}}
          @onChange={{action (mut this.editedCategory)}}
          @options={{@categories}}
          as |category|
        >
          {{category.name}}
        </form.select>
        {{#if this.editedCategory}}
          <PaperButton
            @iconButton={{true}}
            @onClick={{this.clearCategory}}
          >
            {{paper-icon "clear"}}
          </PaperButton>
        {{/if}}
      </div>
      <form.input
        @type="date"
        @label="Defer Until Date"
        @value={{this.deferredUntil}}
        @onChange={{action (mut this.deferredUntil)}}
        @block={{true}}
        data-test-deferred-until-field
      />
      <form.input
        @label="Notes"
        @value={{this.editedNotes}}
        @onChange={{action (mut this.editedNotes)}}
        @textarea={{true}}
        @block={{true}}
        autocapitalize="false"
        data-test-notes-field
      />

      {{#if this.error}}
        <p
          class="error-text"
          data-test-error-message
        >
          {{this.error}}
        </p>
      {{/if}}
    </card.content>
    <card.actions class="app-button-container">
      <PaperButton
        @onClick={{@onCancel}}
        data-test-cancel-edit-button
      >
        Cancel
      </PaperButton>
      <form.submit-button
        @raised={{true}}
        @primary={{true}}
        @disabled={{this.saving}}
        data-test-save-button
      >
        {{paper-icon "save"}}
        {{#if this.saving}}
          Saving…
        {{else}}
          Save
        {{/if}}
      </form.submit-button>
    </card.actions>
  </PaperForm>
</PaperCard>
