<LayoutContainer @title="Surely" as |layout|>
  <layout.sidenav>
    <AppSideNavContent
      @availableTodoCount={{this.availableTodoCount}}
      @tomorrowTodoCount={{this.tomorrowTodoCount}}
    />
  </layout.sidenav>
  <layout.body as |body|>
    <body.toolbar @showSideNavToggle={{this.session.isAuthenticated}}>
      <AppToolbarMenu />
    </body.toolbar>
    <body.content>
      <div class="layout-row">
        <div class="hide show-gt-lg flex-xl-10"></div>
        <div class="flex-100 flex-xl-80">
          {{#if this.routeRequiresAuthentication}}
            <SignInForm />
          {{else}}
            {{outlet}}
          {{/if}}
        </div>
        <div class="hide show-gt-lg flex-xl-10"></div>
      </div>
    </body.content>
  </layout.body>
</LayoutContainer>
